.info-container {
  padding: 40px 0 20px;
}

.info-wrapper {
  background-color: #c99d7f;
  min-width: 600px;
}

.user-name-wrapper {
  margin: 0 10px;
  box-shadow: 0 10px 4px -2px rgba(196, 114, 51, 0.2);
  border-radius: 5px;
}

.user-name {
  color: #6e2c11;
  font-size: 22px;
  padding: 10px 0 10px 20px;
}

.user-phone {
  padding: 20px 0 10px 20px;
  color: #6e2c11;
}

