.avatar__container {
  margin: 40px;
  padding: 10px;
  background-color: #f5ddc5;
}

.avatar__wrapper {
  width: 200px;
  height: 250px;
}

.avatar__empty {
  background-color: #957f6f;
}

.avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: #6e2c11 2px solid;
  box-shadow: 0 0 15px 5px rgba(190, 127, 25, 0.5);
}

.avatar__button {
  margin: 20px 0 40px 20px;
  width: 200px;
  font-size: 12px;
  font-weight: 600;
  color: #6e2c11;
  padding: 10px;
  border: #6e2c11 2px solid;
  border-radius: 18px;
  text-transform: uppercase;
  box-shadow: 0 0 3px 3px rgba(190, 127, 25, 0.5);
  background-color: #fee6c4;
  cursor: pointer;
}

.avatar__button:active {
  transform: scale(0.99);
  background-color: #fee6c4;
  box-shadow: inset 0 0 3px 3px rgba(190, 127, 25, 0.5);
}
