.info {
  padding: 40px 0 20px;
}

.info__wrapper {
  background-color: #c99d7f;
  min-width: 600px;
  min-height: 200px;
}

.info__loader::after {
  padding-left: 40px;
  content: '';
  font-size: 22px;
  font-weight: bold;
  color: #6e2c11;
  display: inline-block;
  width: 1.5em;
  text-align: left;
  animation: loading-dots 1.5s infinite steps(8);
}

@keyframes loading-dots {
  0%   { content: ''; }
  12%  { content: '.'; }
  25%  { content: '..'; }
  37%  { content: '...'; }
  50%  { content: '....'; }
  62%  { content: '.....'; }
  75%  { content: '......'; }
  87%  { content: '.......'; }
  100% { content: ''; }
}

.info__name-wrapper {
  margin: 0 10px;
  box-shadow: 0 10px 4px -2px rgba(196, 114, 51, 0.2);
  border-radius: 5px;
}

.info__name {
  color: #6e2c11;
  font-size: 22px;
  padding: 10px 0 10px 20px;
}

.info__phone {
  padding: 20px 0 10px 20px;
  color: #6e2c11;
}

