.avatar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  padding: 20px;
  background-color: #f5ddc5;
}

.avatar__wrapper {
  width: 200px;
  height: 250px;
}

.avatar__empty {
  background-color: #957f6f;
}

.avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: #6e2c11 2px solid;
  box-shadow: 0 0 15px 5px rgba(190, 127, 25, 0.5);
}

.avatar__menu {
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 20px;
  background-color: #f5ddc5;
}

.menu__list {
  padding: 10px 0;
}

.menu__item {
  font-size: 18px;
  font-weight: 500;
  color: #6e2c11;
  text-decoration: none;
  box-shadow: 0 2px 0 0 rgba(190, 127, 25, 0.2);
}
