.privacy-options {
  display: flex;
  align-items: center;
}

.privacy-option {
  cursor: pointer;
  position: relative;
}

.privacy-option__radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.privacy-option__text {
  box-shadow: inset 0 0 3px 3px rgba(190, 127, 25, 0.5);
  padding: 5px 10px;
  color: #6e2c11;
  user-select: none;
}

.privacy-option:hover .privacy-option__text {
  background-color: #ead7c3;
}

.privacy-option__radio:checked + .privacy-option__text {
  background-color: #BE7F197F;
}
