/* Personal */

.personal {
  padding: 20px;
}

.personal__field {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  color: #6e2c11;
}

.personal__label {
  font-size: 18px;
  font-weight: 600;
}

.personal__input {
  margin: 10px 0;
  padding: 5px 10px;
  color: #6e2c11;
  font-size: 16px;
  border: #6e2c11 2px solid;
  border-radius: 18px;
}

.personal__input:focus {
  outline: none;
  border: 2px solid #be7f19;
  box-shadow: 0 0 5px rgba(190, 127, 25, 0.5);
}

.personal__buttons-wpapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Avatar */

.avatar {
  padding: 20px;
}

.avatar__container {
  display: flex;
  flex-direction: column;
  color: #6e2c11;
  margin-bottom: 20px;
}

.avatar__preview {
  margin: 20px;
  width: 150px;
  height: 170px;
}

.avatar__preview-empty {
  width: 100%;
  height: 100%;
  background-color: #fedebd;
  margin-bottom: 20px;
}

.avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar__field {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.avatar__input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.avatar__upload-label {
  font-family: Arial;
  display: inline-block;
  text-align: center;
  width: 200px;
  font-size: 12px;
  font-weight: 600;
  color: #6e2c11;
  padding: 10px;
  border: #6e2c11 2px solid;
  border-radius: 18px;
  text-transform: uppercase;
  box-shadow: 0 0 3px 3px rgba(190, 127, 25, 0.5);
  background-color: #fee6c4;
  cursor: pointer;
}

.avatar__upload-label:active {
  transform: scale(0.99);
  background-color: #fee6c4;
  box-shadow: inset 0 0 3px 3px rgba(190, 127, 25, 0.5);
}

.avatar__gallery-title {
  color: #6e2c11;
  padding-bottom: 20px;
}

.avatar__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.avatar__item {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 2px solid transparent;
}

.avatar__item--active {
  border-color: #e54b0d;
  border-radius: 4px;
}

.avatar__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.avatar__delete-btn {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #6e2c11;
  color: white;
  border: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar__delete-btn:hover {
  background: darkred;
}

.avatar__loader::after {
  padding-left: 40px;
  content: '';
  font-size: 22px;
  font-weight: bold;
  color: #6e2c11;
  display: inline-block;
  width: 1.5em;
  text-align: left;
  animation: loading-dots 1.5s infinite steps(8);
}

@keyframes loading-dots {
  0%   { content: ''; }
  12%  { content: '.'; }
  25%  { content: '..'; }
  37%  { content: '...'; }
  50%  { content: '....'; }
  62%  { content: '.....'; }
  75%  { content: '......'; }
  87%  { content: '.......'; }
  100% { content: ''; }
}

/* Privacy */

.privacy {
  padding: 20px;
}

.privacy__field {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  color: #6e2c11;
}

.privacy__label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* All */

.settings__error {
  width: 100%;
  font-size: 16px;
  padding: 20px;
  background-color: #e99a9a;
  color: darkred;
}

.settings__success {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  background-color: #beeabe;
  color: darkgreen;
}

.settings__input-error {
  border-color: red;
}

/* Delete Account */

.button__wrapper {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.delete-account__header {
  text-align: center;
  font-size: 22px;
  color: #6e2c11;
  padding: 10px;
}

.delete-account__notify {
  padding: 5px;
  text-align: center;
  font-weight: 700;
  color: #6e2c11;
}
