.personal__field {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #6e2c11;
}

.personal__label {
  font-size: 18px;
  font-weight: 600;
}

.personal__input {
  margin: 10px 0;
  padding: 5px 10px;
  color: #6e2c11;
  font-size: 16px;
  border: #6e2c11 2px solid;
  border-radius: 18px;
}

.personal__input:focus {
  outline: none;
  border: 2px solid #be7f19;
  box-shadow: 0 0 5px rgba(190, 127, 25, 0.5);
}

.settings__button {
  margin: 20px 0 40px 20px;
  width: 200px;
  font-size: 12px;
  font-weight: 600;
  color: #6e2c11;
  padding: 10px;
  border: #6e2c11 2px solid;
  border-radius: 18px;
  text-transform: uppercase;
  box-shadow: 0 0 3px 3px rgba(190, 127, 25, 0.5);
  background-color: #fee6c4;
  cursor: pointer;
}

.settings__button:active {
  transform: scale(0.99);
  background-color: #fee6c4;
  box-shadow: inset 0 0 3px 3px rgba(190, 127, 25, 0.5);
}

.settings__button:disabled {
  background-color: #957f6f;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

.settings__input-error {
  border-color: red;
}

.avatar__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #6e2c11;
}

.avatar__preview {
  margin: 20px 0;
  width: 150px;
  height: 170px;
}

.avatar__preview-empty {
  width: 100%;
  height: 100%;
  background-color: #fedebd;
  margin-bottom: 20px;
}

.avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar__field {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.avatar__input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.avatar__upload-label {
  font-family: Arial;
  display: inline-block;
  text-align: center;
  width: 200px;
  font-size: 12px;
  font-weight: 600;
  color: #6e2c11;
  padding: 10px;
  border: #6e2c11 2px solid;
  border-radius: 18px;
  text-transform: uppercase;
  box-shadow: 0 0 3px 3px rgba(190, 127, 25, 0.5);
  background-color: #fee6c4;
  cursor: pointer;
}

.avatar__upload-label:active {
  transform: scale(0.99);
  background-color: #fee6c4;
  box-shadow: inset 0 0 3px 3px rgba(190, 127, 25, 0.5);
}

.avatar__gallery {
  margin: 20px;
}

.avatar__gallery-title {
  color: #6e2c11;
  padding-bottom: 20px;
}

.avatar__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.avatar__item {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 2px solid transparent;
}

.avatar__item--active {
  border-color: #e54b0d;
  border-radius: 4px;
}

.avatar__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.avatar__delete-btn {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #6e2c11;
  color: white;
  border: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar__delete-btn:hover {
  background: darkred;
}

.privacy__field {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #6e2c11;
}

.privacy__label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.settings__error {
  width: 100%;
  font-size: 16px;
  padding: 20px;
  background-color: #e99a9a;
  color: darkred;
}

.settings__success {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  background-color: #beeabe;
  color: darkgreen;
}
