.personal__field {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #6e2c11;
}

.personal__label {
  font-size: 18px;
  font-weight: 600;
}

.personal__input {
  margin: 10px 0;
  padding: 5px 10px;
  color: #6e2c11;
  font-size: 16px;
}

.settings__button {
  margin: 0 0 20px 20px;
  width: 200px;
  font-size: 12px;
  font-weight: 600;
  color: #6e2c11;
  padding: 10px;
  border: #6e2c11 2px solid;
  border-radius: 18px;
  text-transform: uppercase;
  box-shadow: 0 0 3px 3px rgba(190, 127, 25, 0.5);
  background-color: #fee6c4;
  cursor: pointer;
}

.settings__button:active {
  transform: scale(0.99);
  background-color: #fee6c4;
  box-shadow: inset 0 0 3px 3px rgba(190, 127, 25, 0.5);
}

.settings__button:disabled {
  background-color: #957f6f;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

.avatar__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #6e2c11;
}

.avatar__preview {
  margin: 10px;
}

.privacy__field {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #6e2c11;
}

.privacy__label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
