.comments {
  margin: 20px;
  width: 400px;
  height: inherit;
  background-color: #f9f2e7;
  border-radius: 10px;
}

.comments__title {
  border-radius: 10px 10px 0 0;
  background-color: #f0ccaa;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #6e2c11;
}

.comments__wrapper {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  row-gap: 10px;
  border: #6e2c11 1px solid;
  border-radius: 8px;
  height: 590px;
}

.comments__plate {
  width: 100%;
}

.comments__input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 20px;
}

.comments__input-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.comments__input {
  outline: none;
  resize: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  background: transparent;
  width: 100%;
  max-height: 300px;
  padding: 10px 40px 10px 40px;
  border: #6e2c11 1px solid;
  border-radius: 8px;
  color: #6e2c11;
  line-height: 22px;
  font-size: 12px;
  font-weight: bold;
  font-family: Georgia;
}

.comments__input:focus {
  border-color: #be7f19;
}

.comments__send {
  position: absolute;
  width: 30px;
  left: 90%;
  bottom: 2px;
}

.send__button {
  width: 100%;
}

.send__icon {
  width: 100%;
  cursor: pointer;
}

.comments__send:active {
  scale: 0.8;
}

.emoji {
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 10;
  margin-bottom: 10px;
}

.emoji__button {
  position: absolute;
  border: none;
  background: transparent;
  font-size: 20px;
  right: 90%;
  bottom: 8px;
  cursor: pointer;
}
