.confirm__container {
  inset: 0;
  margin: auto;
  border: none;
  background: transparent;
  padding: 0;
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm__container[open] {
  display: flex;
}

.confirm__container::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.confirm__content {
  padding: 24px;
  border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: modal-appear 0.2s ease-out;
  background-color: #f2decd;
  box-shadow: inset 0 0 40px 10px rgba(190, 127, 25, 0.5);
}

.confirm__body {
  font-size: 18px;
  color: #6e2c11;
  text-align: center;
  line-height: 1.5;
  padding: 20px;
}

.confirm__footer {
  display: flex;
  justify-content: center;
  gap: 12px;
}

@keyframes modal-appear {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
