* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  background-color: #f7e4d2;
}

.app__container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
