* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #f7e4d2;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.app__container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  flex-grow: 1;
}

/* button */

.button {
  margin: 20px 0;
  width: 200px;
  font-size: 12px;
  font-weight: 600;
  color: #6e2c11;
  padding: 10px;
  border: #6e2c11 2px solid;
  border-radius: 18px;
  text-transform: uppercase;
  box-shadow: 0 0 3px 3px rgba(190, 127, 25, 0.5);
  background-color: #fee6c4;
  cursor: pointer;
}

.button:active {
  transform: scale(0.99);
  background-color: #fee6c4;
  box-shadow: inset 0 0 3px 3px rgba(190, 127, 25, 0.5);
}

.button:disabled {
  background-color: #957f6f;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

.button--danger {
  background-color: #f4b5be;
}

.button--danger:active {
  background-color: #f4b5be;
}

/* loader */

.app-loader {
  display: block;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  min-height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #6e2c11;
  padding: 20px;
}

.app-loader::after {
  content: 'Загрузка';
  animation: global-loading-dots 2s infinite steps(4);
  display: inline-block;
  width: 160px;
}

@keyframes global-loading-dots {
  0%   { content: 'Загрузка'; }
  25%  { content: 'Загрузка.'; }
  50%  { content: 'Загрузка..'; }
  75%  { content: 'Загрузка...'; }
  100% { content: 'Загрузка'; }
}
