.form__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: auto;
}

.form__input {
  font-size: 16px;
  padding: 5px 0 5px 10px;
  border: #6e2c11 2px solid;
  border-radius: 18px;
}

.form__input:focus {
  outline: none;
  border: 2px solid #be7f19;
  box-shadow: 0 0 5px rgba(190, 127, 25, 0.5);
}

.form__notify {
  text-align: center;
  text-decoration: none;
  color: #6e2c11;
  font-size: 22px;
  font-weight: 600;
}

.form__link {
  text-decoration: none;
  color: #6e2c11;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.form__message-error {
  color: red;
}
