.header {
  background-color: #c99d7f;
}

.header-wrapper {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

.title {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 10px;
}

h3 {
  color: #6e2c11;
  font-size: 26px;
  font-family: Georgia;
}

.header-link {
  text-decoration: none;
  cursor: pointer;
}

.search {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: end;
  width: 30%;
  position: relative;
}

.input {
  width: 100%;
  font-size: 16px;
  padding: 5px 0 5px 10px;
  border: #6e2c11 2px solid;
  border-radius: 18px;
  background-color: #e6bda9;
}

.input:focus {
  outline: none;
  border: 2px solid #be7f19;
  box-shadow: 0 0 5px rgba(190, 127, 25, 0.5);
}

.icon-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 5px;
  position: absolute;
  margin-right: 10px;
}

.separator {
  position: relative;
  top: -2px;
  font-size: 22px;
  font-weight: 700;
  color: gray;
}

.link {
  width: 35%;
}

.icon {
  display: block;
  width: 100%;
}

.navbar {
  display: flex;
  column-gap: 10px;
  margin-right: 40px;
}

.navbar-link {
  text-decoration: none;
  color: #6e2c11;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .header-wrapper {
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }

  .search {
    width: 50%;
  }
}
