.modal {
  border: none;
  border-radius: 16px;
  padding: 0;
  background-color: #f2decd;
  box-shadow: inset 0 0 40px 10px rgba(190, 127, 25, 0.5);
  margin: auto;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.modal-content {
  padding: 30px;
  position: relative;
  min-width: 400px;
}

.close-btn {
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 26px;
  border: none;
  background: none;
  cursor: pointer;
  color: #6e2c11;
}

.close-btn:hover {
  transform: scale(1.1);
  transition: all 0.3s linear;
  box-shadow: inset 0 0 3px 3px rgba(190, 127, 25, 0.3);
}
