.modal {
  border: none;
  border-radius: 16px;
  padding: 0;
  background-color: #f2decd;
  box-shadow: inset 0 0 40px 10px rgba(190, 127, 25, 0.5);
  margin: auto;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.modal-content {
  padding: 30px;
  position: relative;
  min-width: 400px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}
