.photo {
  user-select: none
}

.photo__container {
  display: flex;
}

.photo__wrapper {
  position: relative;
  margin: 20px;
}

.left {
  position: absolute;
  right: 100%;
  top: 50%;
}

.right {
  position: absolute;
  top: 50%;
  left: 100%;
}

.photo__arrow-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: inset 0 0 3px 3px rgba(190, 127, 25, 0.3);
  cursor: pointer;
}

.photo__arrow {
  text-align: center;
  line-height: 1;
  font-size: 22px;
  font-weight: bold;
  color: #6e2c11;
}

.photo__arrow-wrapper:active {
  scale: 0.9;
}

.photo__item-wrapper {
  margin: 20px;
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.photo__item {
  width: 100%;
}

.photo__loading {
  color: #6e2c11;
  font-size: 22px;
  padding: 40px;
}

.photo__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
