.video {
  user-select: none
}

.video__container {
  display: flex;
  align-items: center;
}

.video__wrapper {
  position: relative;
  margin: 20px;
}

.video__item {
  width: 600px;
  height: 600px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f2e7;
  border-radius: 10px;
}

.video__player {
  object-fit: cover;
}

.video__content {
  width: 100%;
}

.video__loading {
  color: #6e2c11;
  font-size: 22px;
  padding: 40px;
}

.video__notify {
  color: #6e2c11;
  font-size: 22px;
  padding: 40px;
}

.video__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
