.videos {
  padding: 10px 0 10px;
}

.videos__container {
  background-color: #f5ddc5;
  min-width: 600px;
  min-height: 600px;
  text-align: center;
  padding-top: 10px;
}

.videos__notify {
  color: #6e2c11;
  font-size: 18px;
  font-weight: 700;
}

.videos__add-wrapper {
  margin: 10px;
  padding: 20px;
  display: flex;
  column-gap: 40px;
  align-items: center;
  justify-content: end;
  box-shadow: 0 0 10px 5px rgba(240, 163, 55, 0.3);
}

.videos__add-label {
  color: #6e2c11;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 3px 0 0 rgba(240, 163, 55, 0.2);
}

.videos__button-wrapper {
  width: 30px;
  height: 30px;
  border: #6e2c11 1px solid;
  box-shadow: 0 0 5px 5px rgba(240, 163, 55, 0.2);
  cursor: pointer;
}

.videos__button {
  font-size: 22px;
}

.videos__button-wrapper:active {
  scale: 0.9;
  box-shadow: inset 0 0 5px 5px rgba(240, 163, 55, 0.2);
}

.videos__button:disabled {
  background-color: #957f6f;
}


.videos__wrapper {
  margin: auto;
  width: fit-content;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.videos__notify-wrapper {
  padding: 20px;
}

.videos__item {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7e4d2;
  object-fit: cover;
  margin: auto;
}

.videos__img {
  width: 100%;
}

.videos__error-message {
  width: 100%;
  font-size: 16px;
  padding: 20px;
  background-color: #e99a9a;
  color: darkred;
}

.videos__loader {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 40px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  gap: 8px;
  position: relative;
}


.videos__percent {
  font-size: 16px;
  font-weight: 600;
  color: #6e2c11;
  font-family: sans-serif;
}

.videos__progress-back {
  position: absolute;
  background: #FFF;
  height: 6px;
  border-radius: 10px;
  margin: 0 10px;
  top: 70%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.videos__progress-line {
  height: 6px;
  margin: 0 10px;
  background: #beeabe;
  border-radius: 10px;
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.videos__percent {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.6; }
  100% { opacity: 1; }
}
