.video {
  user-select: none
}

.video__container {
  display: flex;
}

.video__wrapper {
  position: relative;
  margin: 20px;
}

.video__item {
  width: 900px;
  height: 600px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video__player {
  object-fit: cover;
}

.video__content {
  width: 100%;
}

.video__loading {
  color: #6e2c11;
  font-size: 22px;
  padding: 40px;
}

.video__notify {
  color: #6e2c11;
  font-size: 22px;
  padding: 40px;
}
